.summary {
  height: 80%;
  width: 600px;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.back-btn-img {
  width: 50px;
  margin-right: 10px;
}

.back-btn {
  display: inline-flex;
  color: #fff;
  align-items: center;
  font-weight: bolder;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  align-self: flex-start;
}

.back-btn span {
  font-weight: bolder;
  font-size: 20px;
}

.summary .back-btn svg {
  transition: margin-right 0.2s ease-in-out;
  /** ease-in-out makes the button move when hover**/
}

.back-btn:hover svg {
  margin-right: 20px;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.show-duration {
  font-size: 23px;
}

.show-overview>* {
  padding: 10px 0 10px 0;
}

.highlight {
  color: #00adb5;
  font-size: 18px;
}