nav {
  background-color: #393e46;
  height: 200px;
  border-bottom: 1px solid #eeeeee;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-search-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.text-input-label {
  width: 100%;
}

input[type=text] {
  padding: 15px;
  font-size: 18px;
  width: 90%;
  border-radius: 8px;
  background-color: transparent;
  color: #eeeeee;
  border-style: solid;
}

input[type=submit] {
  padding: 10px;
  width: 30%;
  border-radius: 8px;
  background-color: transparent;
  color: #eeeeee
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #eeeeee;
  color: #393e46;
}

.search-box>div {
  padding: 10px;
}

.dropdowns-container {
  width: 80%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown-title {
  color: aqua;
  font-size: 20px;
}

.search-box input, .search-box select {
  height: auto;
  font-size: 20px;
}

.loading-wrapper {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-container {
  color: #eeeeee;
  border: 1px solid #eeeeee;
  margin: 10px 0px;
  padding: 10px;
  background-color: #393e46;
}

.show-container:hover {
  background-color: #00adb5;
}

.show-container:hover h1 {
  color: #eeeeee;
}

.loading-message {
  font-size: 30px;
  color: #00adb5;
  margin: 10px;
  padding-left: 10px;
  text-align: center;
}

.found {
  font-size: 20px;
  color: #00adb5;
  margin: 20px 0 20px 0;
  padding-left: 10px;
  text-align: center;
}

.pagination-container {
  max-width: 90%;
}

.pagination-btn {
  color: #00adb5;
  font-size: 20px;
  background-color: transparent;
  margin: 5px;
  height: 40px;
  width: 40px;
}

.pagination-btn:focus, .pagination-btn:hover {
  font-weight: bolder;
  background-color: #00adb5;
  color: #eeeeee;
}